VendingMachine/Debug/VendingMachine.tlog/VendingMachine.lastbuildstate
VendingMachine/Debug/VendingMachine.tlog/VendingMachine.lastbuildstate
Debug/VendingMachine.exe
Debug/VendingMachine.ilk
Debug/VendingMachine.pdb
ipch/vendingmachine-680ed2c0/vendingmachine-344e666c.ipch
VendingMachine.opensdf
VendingMachine.sdf
VendingMachine.v12.suo
VendingMachine/Debug/ChangeTray.obj
VendingMachine/Debug/DisplayArea.obj
VendingMachine/Debug/Machine.obj
VendingMachine/Debug/Object.obj
VendingMachine/Debug/stdafx.obj
VendingMachine/Debug/vc120.idb
VendingMachine/Debug/vc120.pdb
VendingMachine/Debug/VendingMachine.log
VendingMachine/Debug/VendingMachine.obj
VendingMachine/Debug/VendingMachine.pch
VendingMachine/Debug/VendingMachine.tlog/cl.command.1.tlog
VendingMachine/Debug/VendingMachine.tlog/CL.read.1.tlog
VendingMachine/Debug/VendingMachine.tlog/CL.write.1.tlog
VendingMachine/Debug/VendingMachine.tlog/link.command.1.tlog
VendingMachine/Debug/VendingMachine.tlog/link.read.1.tlog
VendingMachine/Debug/VendingMachine.tlog/link.write.1.tlog
